<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/result.css') }}">
    <title>Magazine</title>
</head>
<body>
    <div class="container">
        <h3 class="name">Magazine Name: {{magazine.name}}</h3>
        <h3>Posted By: {{one_}}</h3>
        <h3>Description: {{magazine.description}}</h3>
        <a href="/welcome"><button>Home</button></a>
        <a href="/logout"><button>Logout</button></a>
    </div>
</body>
</html>