<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/counter.css') }}">
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{session['counter']}} Times</p>
        <a href="/"><button class="click">Click Me</button></a>
        <a href="/destroy_session"><button class="reset">Reset</button></a>
        <a href="/double"><button class="double">Add Two More Visits</button></a>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/counter.js') }}"></script>
</body>
</html>