<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}">
    <title>Results</title>
</head>
<body>
    <h1>Welcome {{user.first_name}}!</h1>
    <h3>All posted recipes:</h3>
    <a href="/new/recipe">Create A Recipe</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Posted By</th>
            <th>Actions</th>
        </tr>
        <tr>
            {% for a_chef in chef%}
                <td>{{a_chef.name}}</td>
                <td>{{a_chef.time}}</td>
                <td>{{a_chef.person_id}}</td>
                <td><a href="/{{a_chef.name}}">View Recipe</a></td>
            {% endfor %}
        </tr>
    </table>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>