<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}">
    <title>Results</title>
</head>
<body>
    <h1>Welcome {{user.first_name}}!</h1>
    <h3>All posted recipes:</h3>
    <a href="/new/recipe">Create A Recipe</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>Posted By</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
            {% for one_recipe in recipes%}
                <tr>
                    <td>{{one_recipe.name}}</td>
                    {% if one_recipe.time == 1 %}
                    <td>YES</td>
                    {% else %}
                    <td>NO</td>
                    {% endif %}
                    <td>{{one_recipe.chef.first_name}}</td>
                    <td>{{one_recipe.created_at}}</td>
                    <td>
                        <a href="/recipe/{{one_recipe.id}}">View Recipe</a>
                    </td>
                </tr>
            {% endfor %}
    </table>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>