<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/email.css') }}">
    <title>Survey</title>
</head>

<body>
    <div class="container">
        <h1>Enter Your Email</h1>
        {% with messages = get_flashed_messages() %}     
            {% if messages %}                            
                {% for message in messages %}          
                    <p>{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="/create/email" method="post">
            <div class="label-1">
                <label for='email'>Email:</label>
            </div>
            <div class="text-1">
                <input type='text' name='email' placeholder="person@email.com">
            </div>
            <input type='submit' value='Submit' class="submit">
        </form>
    </div>
</body>

</html>