<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User</title>
    </head>
    <body>
        <h2>Emails</h2>
        {% for one_email in emails%}
            <p>Email: {{one_email.email}} {{one_email.created_at}}</p>
        {% endfor %}
        <a href="/"><button>Home</button></a>
    </body>
    </html>