<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User</title>
    </head>
    <body>
        <h2>{{dojo.name}} Dojo</h2>
        {% for one_ninja in dojo.ninjas%}
            <p>Ninja: {{ one_ninja.first_name}} {{one_ninja.last_name}} {{one_ninja.age}}</p>
        {% endfor %}
        <a href="/dojos"><button>Home</button></a>
    </body>
    </html>