* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('../images/foods.jpg');
}

.container {
    background-color: rgb(5, 5, 39);
    font-family: sans-serif;
    width: 300px;
    height: 500px;
    padding-left: 57px;
    padding-top: 30px;
    color: white;
    border-radius: 10%;
    margin-left: 400px;
    margin-top: 50px;
}

#map {
    margin-left: 325px;
    
}

.container_two {
    background-color: rgb(5, 5, 39);
    font-family: sans-serif;
    width: 300px;
    height: 350px;
    padding-left: 57px;
    padding-top: 30px;
    color: white;
    border-radius: 10%;
    margin-left: 400px;
    margin-top: 50px;
}

h1 {
    color: gold;
    margin-left: 15px;
    margin-bottom: 10px;
}

#mapName {
    margin-left: 425px;
}

input {
    border-radius: 5%;
}

select {
    border-radius: 5%;
}

textarea {
    border-radius: 5%;
}

input[type=submit] {
    color: rgb(5, 5, 39);
    font-weight: boldbill;
    background-color: gold;
    border-radius: 10%;
    margin-top: 20px;
    padding: 5px;
}


p {
    color: black;
}

.two {
    color: red;
}

.login-container {
    background-color: rgb(5, 5, 39);
    font-family: sans-serif;
    width: 300px;
    height: 300px;
    padding-left: 57px;
    padding-top: 30px;
    color: white;
    border-radius: 10%;
}

button {
    margin-top:20px;
    background-color: gold;
    color:rgb(5, 5, 39);
    height: 30px;
    border-radius: 10%;
}

.second {
    color: gold;
    margin-left: 80px;
}
