<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">
    <title>Edit</title>
</head>

<body>
    <form action="/user/update/{{user.id}}" method="post" class="col-6 mx-auto">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="two">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2 class="text-center"> Edit {{user.first_name}}</h2>
        <div class="form-group">
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name" class="form-control" value="{{user.first_name}}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name" class="form-control" value="{{user.last_name}}">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" name="email" class="form-control" value="{{user.email}}">
        </div>
        <input type="submit" value="Update User" class="btn btn-success">
    </form>
    <table>
        <tr><th>{{user.first_name}}'s Magazines</th></tr>
        {% for one_author in author.magazines%}
            <tr>
                <td>{{one_author.name}} <a href="/magazine/delete/{{one_author.id}}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="routes">
        <a href="/add/magazine">Add Magazine</a>
        <a href="/welcome"><button>Home</button></a>
        <a href="/logout"><button>Logout</button></a>
    </div>
</body>

</html>