<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users.css') }}">
    <title>Results</title>
</head>
<body>
    <h1>Welcome {{user.first_name}}!</h1>
    <a href="/add/magazine">Add Magazine</a>
    <a href="/user/account/{{user.id}}">Account</a>
    <h3>Magazines</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Posted By</th>
        </tr>
            {% for a_magazine in magazines%}
                <tr>
                    <td><a href="/magazine/{{a_magazine.id}}">{{a_magazine.name}}</a></td>
                    <td>{{a_magazine.author.first_name}}</td>
                </tr>
            {% endfor %}
    </table>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>